*.swo
*.swp
.DS_Store
.idea
.mypy_cache
__pycache__
*.h5
*.pth
*.egg-info
oot3dhdtextgenerator/data/train_*/
oot3dhdtextgenerator/data/test_*/
oot3dhdtextgenerator/data/oot3d/train_*/
oot3dhdtextgenerator/data/oot3d/test_*/
