{# Copyright 2020-2026 Karl T Debiec. All rights reserved. This software may be modified
and distributed under the terms of the BSD license. See the LICENSE file for details. #}
{% for character in characters %}
{% include 'character.html' %}
{% endfor %}
{% if has_more %}
<tr class="load-more-row"
    data-total-count="{{ total_count }}"
    hx-get="/characters?offset={{ next_offset }}&limit={{ page_size }}"
    hx-include="#filters-form"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="revealed">
    <td colspan="12">
        Loading more...
    </td>
</tr>
{% endif %}
